
.jumbo-img{
    background-image: url(/img/flower_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

#peace, #share, #together{
    background-image: url(/img/free_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

#share{
    background-image: url(/img/mountain_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

#together{
    background-image: url(/img/wolf_01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}